<div class="container mt-5">
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">UserName</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
        <th scope="col">city</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of users ; let i = index">      
        <th scope="row">{{i+1}}</th>
        <td>{{x.username}}</td>
        <td>{{x.age}}</td>
        <td>{{x.gender}}</td>
        <td>{{x.city}}</td>
        <td>{{x.email}}</td>
        <td>{{x.role}}</td>
        <td class="d-flex gap-3">
    <button class="btn btn-primary bnt-sm">Edit</button>
    <button class="btn btn-danger brn-sm">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>



