<nav class="navbar border-bottom navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" routerLink="./dashbord">Dashbord</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="./user-list">User-List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="./user-form">User-form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="./expense-list">Expense-list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="./expense-form">Expense-Form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="./expense-report">Expense-Report</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="./totla-expense-report">Total Expense Report</a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <button class="btn btn-primary btn-sm"  routerLink="#">Logout</button>
          </li> 
        </ul>
      </div>
    </div>
  </nav>
