<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="staticBackdropLabel">User Form</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="userform">
                    <div class="row">
                        <div class="col-lg-6 col-mb-12 col-sm-12">
                            <div class="form-group mb-3">
                                <label for="exampleFormControlInput1">Username</label>
                                <input formControlName="username" type="text" class="form-control"
                                    id="exampleFormControlInput1" placeholder="username">
                            </div>
                        </div>
                        <div class="col-lg-6 col-mb-12 col-sm-12">
                            <div class="form-group mb-3">
                                <label for="exampleFormControlInput1">City</label>
                                <input formControlName="city" type="text" class="form-control"
                                    id="exampleFormControlInput1" placeholder="name@example.com">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-mb-12 col-sm-12">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" placeholder="Email" id="exampleInputEmail1" aria-describedby="emailHelp">
                                
                              </div>
                        </div>
                        <div class="col-lg-6 col-mb-12 col-sm-12">
                            <div class="form-group mb-3 mb-3 ">
                                <label for="exampleFormControlInput1">Password</label>
                                <input formControlName="password" type="password" class="form-control"
                                    id="exampleFormControlInput1" placeholder="Password">
                            </div>
                           
                            
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-mb-12 col-sm-12">
                            <div class="form-group mb-3 mb-3 ">
                                <label for="exampleFormControlInput1">Role</label>
                                <select id="disabledSelect" class="form-select">
                                    <option>select</option>
                                    <option>admin</option>
                                    <option>manager</option>
                                    <option>employe</option>
                                  </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-mb-12 col-sm-12">
                            <div class="form-group mb-3 mb-3 ">
                                <label for="exampleFormControlInput1">Gender</label>
                                <input formControlName="role" type="text" class="form-control"
                                    id="exampleFormControlInput1" placeholder="Gender">
                            </div>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary float-right">Add User</button>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>