<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="staticBackdropLabel">User Form</h2>
                <button type="button"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form [formGroup]="userform" (ngSubmit)="submit(userform.value)">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group mb-3">
                              <label for="exampleFormControlInput1">Username</label>
                              <input [formControl]="username" type="text" name="username" [value]="username"  class="form-control"
                                  id="exampleFormControlInput1" placeholder="username">
                                  
                          </div>
                      </div>
                        <div class="col-6 ">
                            <div class="form-group mb-3 mb-3 ">
                                <label for="exampleFormControlInput1">Role</label>
                                <select id="disabledSelect"  [formControl]="role" name="role"
                                    [style.background]="userform.get('role')?.invalid? '#ff000038' : 'white'"
                                    class="form-select">
                                    <option value="admin">admin</option>
                                    <option value="manager"> manager</option>
                                    <option value="employe">employe</option>
                                </select>
                            </div>
                        </div>
                       
                    </div>
                      
                    <div class="row">
                        <div class="col-lg-6 col-mb-12 col-sm-12">
            
                            <div class="form-group mb-3 mb-3 ">
                                <label for="exampleFormControlInput1">states</label>
                                <select [formControl]="state" name="state"  id="disabledSelect"  
                                    [style.background]="userform.get('states')?.invalid? '#ff000038' : 'white'"
                                    class="form-select">

                                    <option *ngFor="let x of states" [value]="x">{{x}}</option>
                                    
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-mb-12 col-sm-12">
                            <div class="form-group mb-3">
                                <label for="exampleFormControlInput1">City</label>
                                <select [formControl]="city" name="city"  id="disabledSelect"  
                                [style.background]="userform.get('city').invalid? '#ff000038' : 'white'"
                                class="form-select">

                                <option *ngFor="let x of cities" [value]="x">{{x}}</option>
                                
                            </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-mb-12 col-sm-12">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" [formControl]="email" [value]="email" name="email" class="form-control" placeholder="Email" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">

                            </div>
                        </div>
                        <div class="col-lg-6 col-mb-12 col-sm-12">
                            <div class="form-group mb-3 mb-3 ">
                                <label for="exampleFormControlInput1" >Password</label>
                                <input [formControl]="password" name="password" type="password" [value]="password" class="form-control"
                                    id="exampleFormControlInput1" placeholder="Password">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-mb-12 col-sm-12">
                            <div class="form-group mb-3 mb-3 ">
                                <label for="exampleFormControlInput1">Age</label>
                                <input [formControl]="age" type="number" name="age" [value]="age" class="form-control"
                                    id="exampleFormControlInput1" placeholder="Age">
                            </div>
                        </div>
                        <div class="col-lg-6 col-mb-12 col-sm-12">
                            <div class="form-group mb-3 mb-3 ">
                                <label for="exampleFormControlInput1">Gender</label>
                                <input [formControl]="gender" type="text" name="gender" [value]="gender"  class="form-control"
                                    id="exampleFormControlInput1" placeholder="Gender">
                            </div>
                        </div>
                    </div>
             

                    <div class="row">
                        <div class="col-3">
                            <button type="submit" class="btn btn-primary float-right">Add User</button>
                        </div>
                        <div class="col-9">
                            <div *ngIf=" submitted && (this.email || this.age && this.username || this.password || this.city || this.gender || this.state || this.role).invalid"  role="alert">
                                <p class="text-danger mt-2" [style.color]="'red'">The Form is invalid, Please Fill in all the details properly</p>
                            </div>

                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="clear()">Clear</button>
            </div>
        </div>
    </div>
</div>